/* Null----------------------------------------------------------------------------------------*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.1;
	font-size: 20px;
	font-family: 'Inconsolata';
	font-weight: 400;
	background-color: black;
	color: white;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400;}
/*-------------------------------------------------------------------------------------------*/

/* General------------------------------------------------------------------------------------- */
strong {
	color: #47DEFF !important;
	font-weight: 400;
}

small {
	color: #484848;
	font-weight: 300;
	font-size: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 100%;
	padding: 0px 15px;
    margin: 0px auto;
	box-sizing: content-box;
}



/* Header------------------------------------------------------------------------------------------ */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.headerBlock {
	display: flex;
	min-height: 40px;
	align-items: center;
	justify-content: right;
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item:not(:last-child) {
	margin: 0px 15px 0px 0px;
}
.menu__link, .menu__link:visited {
	font-size: 80%;
	color: white;	
}
/* ------------------------------------------------------------------------------------------- */

/* Main--------------------------------------------------------------------------------------- */
.main {
	height: inherit;
	flex: 1 1 auto;
	margin: 40vh auto 44vh auto;	
}
.mainBlock {
	height: inherit;
	display: flex;
	flex-direction: row;
	max-width: 300px;	
}
.mainBlock__decoration {
	padding: 0px 15px;
}
.mainBlock__circle {
	height: 17px;
  	width: 17px;
  	border-radius: 50%;
	background-color: #47DEFF;	
}
.decoration__line {
	position: relative;
	left: 8px;
	border-left: 2px solid #47DEFF;
    height: 100vh;
}
.mainBlock__content {
	position: relative;
	bottom: 3px;
}

.content__item_oneTabItem {
	position: relative;
	left: 30px;
}
.first_custom_tab_item {
	position: relative;
	left: 147px;
}
.content__item_linked, .content__item_linked:visited {
	color: inherit;
}

.mainBlock__anchor {
	position: relative;
    top: -40vh;
}
/* ------------------------------------------------------------------------------------------- */

/* Adaptive----------------------------------------------------------------------------------- */
@media (max-width: 720px) { 
	.headerBlock {
		background-color: rgba(0, 0, 0, 0.8);
	}
}